<style>
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 600px;
    }
    .login-form{
        border-style: solid;
        border-width: 2px;
        border-radius: 20px;
        padding: 10px;
        width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
<div class="main">
    <h3> 
        PLDT WiFi Router
    </h3> 
    <div class="login-form">
        <h4>
            Please login to continue:
        </h4>
        <form method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="admin"><br><br>
            <label for="password">Password :  </label>
            <input type="password" id="password" name="password" pattern="[2-4][1][2-4]{2}"><br><br>
            <div>
            <input type="submit" value="Submit">
            </div>
        </form> 
    </div>
    <!-- Username is admin -->
  
   
</div>